<div class="relative min-h-screen bg-[#f4d04e] flex items-center justify-center">
    <div class="bg-white w-[300px] min-h-[400px] p-[15px] border border-[#0000008e] shadow-[14px_12px_0px_-6px] shadow-black">
        <img src="/assets/illustration-article.svg" alt="#">

        <div class="mt-4">
            <button class="p-1 px-[8px] bg-[#f4d04e] font-[800] text-[12px] rounded-[3px]">Learning</button>
            <p class="mt-3 mb-1 text-[11px]">Published 21 Dec 2023</p>
            <h2 class="font-[800] text-[20px]">HTML & CSS foundations</h2>
            <p class="text-[12px] text-[#929292]">These languages are the backbone of every website, defining structure, content, and presentation.</p>

            <div class="flex">
                <img src="/assets/image-avatar.webp" alt="#" class="w-6 h-6 mt-4">
                <p class="text-[13px] mt-[18.5px] ml-2 font-[800]">Greg Hooper</p>
            </div>
        </div>
    </div>
</div>